* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
@font-face {
    font-family: 'gotham-medium';
    src: url('../fonts/gotham-medium.woff2') format('woff2'),
    url('../fonts/gotham-medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gotham-book';
    src: url('../fonts/gotham-book.woff2') format('woff2'),
    url('../fonts/gotham-book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.container {
    width: 980px;
    margin: 0 auto;
}
.flex-b {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-a {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo {
    display: block;
}
.wrapper {
    display: flex;
}
.header__gradient {
    background: linear-gradient(to right, rgba(255,255,255,1) 0, rgba(255,255,255,1) 71%, rgba(233,76,56,1) 75%, rgba(233,76,56,1) 100%);
}
.menu {
    display: flex;
}
.menu__item {
    font-family: 'gotham-medium';
    text-transform: uppercase;
    transition: 500ms;
 }
.menu__item_size_m {
    /*padding: 0 10px;*/
    height: 70px;
    font-size: 14px;
}
.menu__item_size_s {
    height: 60px;
    font-size: 12px;
}

.menu__item_size_m:hover .menu__link {
    color: #e94e38;
}
.menu__item_size_s:hover .menu__link {
    color: #e94e38;
}

/*.header:after {*/
/*    content: '';*/
/*    width: auto;*/

/*    height: 75px;*/
/*    background-color: #e94e38;*/
/*    position: absolute;*/
/*    left: 980px;*/
/*    bottom: 0;*/
/*}*/
.menu__link {
    display: flex;
    align-items: center;
    height: 100%;
    color: #96a6a7;
    text-decoration: none;
    transition: 500ms;
}
.menu__link_padding_10 {
    padding: 0 10px;
}
.menu__link_padding_12 {
    padding: 0 12px;
}
.menu__link_padding_12:first-child {
    padding-left: 0;
}
.header-search {
    height: 75px;
    background-color: #e2dee0;
    transition: 500ms;
}
.login {
    height: 75px;
    background-color: #e94e38;
    color: white;
    font: 14px 'gotham-medium';
    text-transform: uppercase;
    transition: 500ms;
}
.header-search:hover {
    background-color: #96a6a7;
}
.login:hover {
    background-color: #96a6a7;
}

.login__link {
    padding-left: 40px;
    padding-right: 50px;
    color: white;
}
.header-search__link {
    padding: 0 25px;
    color: white;
}
.fa-search {
    font-size: 24px;
}
.fa-user {
    font-size: 16px;
    margin-right: 15px;
}

    /* SEARCH */
.search {
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.search:before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    left: 0;
    bottom: 0;
}
.search__text {
    margin-top: 55px;
    margin-bottom: 35px;
    font-size: 30px;
    color: white;
    font: 30px 'gotham-medium';
    position: relative;
    z-index: 1;
}
.drop-list {
    display: flex;
    justify-content: center;
}
.drop-list__item {
    position: relative;
    cursor: pointer;
    width: 220px;
    height: 50px;
    border-radius: 50px;
    background-color: rgba(255,255,255,0.1);
    border: 1px solid rgba(245,244,245,0.1);
    transition: 500ms;
}
.drop-list__item:first-child {
    margin-right: 30px;
}
.drop-list__text {
    font-family: 'gotham-book';
    padding-left: 35px;
    font-size: 18px;
    color: white;
}
.fa-angle-down {
    margin-right: 25px;
    color: white;
}
.drop-list__item:hover {
    background-color: rgba(255,255,255,0.4);
}
.drop-list__item:hover .sub-menu {
    opacity: 1;
    visibility: visible;
}
.sub-menu {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    transition: 500ms;
    width: 100%;
    top: 100%;
    left: 0;
    background-color: rgba(0,0,0,0.8);
    border: 1px solid rgba(245,244,245,0.7);
    z-index: 1;
}
.sub-menu_radius_m {
    border-radius: 20px;
}
.sub-menu_radius_s {
    border-radius: 10px;
}
.sub-menu__item {
    line-height: 35px;
    cursor: pointer;
}
.form {
    position: relative;
}
.form__text {
    border-radius: 50px;
    background-color: rgba(255,255,255,0.1);
    border: 1px solid rgba(245,244,245,0.1);
}
.form__text_size_m {
    width: 435px;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 28px;
}
.form__text_size_s {
    width: 455px;
    height: 60px;
    margin-top: 40px;
    margin-bottom: 50px;
    padding-left: 70px;
}
.form__submit {
    border-radius: 50px;
    background-color: #e94e38;
    font-family: 'gotham-medium';
    text-transform: uppercase;
    color: white;
    border: none;
    border-bottom: 2px solid #e94e38;
    cursor: pointer;
    transition: 500ms;
}
.form__submit_size_m {
    padding: 25px 30px 22px;
    margin-bottom: 38px;
    font-size: 18px;
}
.form__submit_size_s {
    padding: 18px 20px 18px;
    font-size: 14px;
    position: absolute;
    right: 5px;
    top: 44px;
}
.form__submit:hover {
    background-color: rgba(233,78,56,0.6);
}
.form__text:focus {
    outline: none;
}
.form__submit {
    outline: none;
}
::-webkit-input-placeholder {color:white;}
::-moz-placeholder          {color:white;}/* Firefox 19+ */
:-moz-placeholder           {color:white;}/* Firefox 18- */
:-ms-input-placeholder      {color:white;}

  /* MAIN */

.main-drop-list {
    position: relative;
    cursor: pointer;
    width: 115px;
    height: 35px;
    border-radius: 30px;
    background-color: white;
    border: 1px solid #cad2d3;
    transition: 500ms;
}
.main-drop-list:hover .sub-menu {
    opacity: 1;
    visibility: visible;
}
.main-drop-list:hover {
    background-color: #e94e38;
    border: 1px solid #e94e38;
}
.main-drop-list:hover .main-drop-list__text{
    color: white;
}
.main-drop-list__text {
    padding-left: 19px;
    font-size: 12px;
    font-family: gotham-medium;
    line-height: 25px;
    color: #e94e38;
    text-transform: uppercase;
    transition: 500ms;
}
.main-drop-list__icon {
    margin-right: 19px;
    color: #cad2d3;
}
.map-button {
    height: 37px;
    background: #1baf5d;
    border: 1px solid #1baf5d;
    border-radius: 30px;
    cursor: pointer;
    color: white;
    text-transform: uppercase;
    font: 12px 'gotham-medium';
    transition: 500ms;
}
.map-button__text {
    padding: 0 20px;
    transition: 500ms;
}
.map-button__icon {
    padding-right: 20px;
    transition: 500ms;
}
.map-button:hover {
    background-color: white;
    border: 1px solid #1baf5d;
}
.map-button:hover .map-button__text {
    color: #1baf5d;
}
.map-button:hover .map-button__icon {
    color: #1baf5d;
}
.header__map-button {
    margin-left: 10px;
}
.filter {
    display: flex;
    align-items: center;
}
.filter__button {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    border-radius: 50%;
    border: none;
    background-color: #b6c0c1;
    cursor: pointer;
    transition: 500ms;
}
.filter__text {
    font: 12px 'gotham-medium';
    text-transform: uppercase;
    color: #96a6a7;
}
.filter__button:focus {
    outline: none;
}
.filter__button_theme_green:hover {
    background-color: #1baf5d;
}
.filter__button_theme_blue:hover {
    background-color: steelblue;
}
.filter__button_theme_red:hover {
    background-color: indianred;
}
.filter__button_theme_orange:hover {
    background-color: #f19e1f;
}
.filter__button_theme_violet:hover {
    background-color: #88499c;
}

       /* CARDS */
.cards {
    padding-top: 45px;
    background-color: #f3f1f2;
}
.card {
    width: 210px;
    height: 265px;
    border-radius: 5px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    font-family: gotham-medium;
    position: relative;
}
.cards__card {
    margin-bottom: 32px;
}
.card__img {
    border-bottom: 3px solid #1baf5d;
}
.card__price {
    padding: 6px 12px;
    border-radius: 20px;
    color: white;
    font: 12px 'gotham-medium';
    background-color: #1baf5d;
    position: absolute;
    right: 7px;
    top: 7px;

}
.card__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    border: 3px solid white;
    border-radius: 50%;
    background-color: #1baf5d;
    position: absolute;
    bottom: 92px;
    z-index: 3;
}
.card__text {
    flex-grow: 1;
    font-size: 14px;
    color: #566375;
    text-align: center;
    margin: 0 10px;
    margin-top: 30px;
}
.card__title {
    font-size: 12px;
    color: #1baf5d;
    text-transform: uppercase;
}
.card__rating {
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 15px;
    color: #96a6a7;
    font-size: 12px;
}
.fa-star {
    color: #f19e1f;
}
.fa-star_margin {
    margin-right: 5px;
}
.card__title_theme_orange {
    color: #f19e1f;
}
.card__icon_theme_orange {
    background-color: #f19e1f;
}
.card__img_theme_orange {
    border-color: #f19e1f;
}
.card__title_theme_violet {
    color: #88499c;
}
.card__icon_theme_violet {
    background-color: #88499c;
}
.card__img_theme_violet {
    border-color: #88499c;
}

.card__img_theme_violet:before {
    content: '';
    opacity: 0;
    visibility: hidden;
    transition: 500ms;
    width: 100%;
    height: 140px;
    background-color: rgba(136,73,156,0.7);
    border-radius: 5px 5px 0 0;
    position: absolute;
    z-index: 1;
}
.card:hover .card__img_theme_violet:before {
    opacity: 1;
    visibility: visible;
}
.card__img_theme_orange:before {
    content: '';
    opacity: 0;
    visibility: hidden;
    transition: 500ms;
    width: 100%;
    height: 140px;
    background-color: rgba(241,158,31,0.7);
    border-radius: 5px 5px 0 0;
    position: absolute;
    z-index: 2;
}
.card:hover .card__img_theme_orange:before {
    opacity: 1;
    visibility: visible;
}
.card__img_theme_green:before {
    content: '';
    opacity: 0;
    visibility: hidden;
    transition: 500ms;
    width: 100%;
    height: 140px;
    background-color: rgba(27,175,93,0.7);
    border-radius: 5px 5px 0 0;
    position: absolute;
    z-index: 2;
}
.card:hover .card__img_theme_green:before {
    opacity: 1;
    visibility: visible;
}
.img {
    display: block;
}
.card:hover .show-more {
    opacity: 1;
    visibility: visible;
}
      /*SHOW MORE*/
.show-more {
    opacity: 0;
    visibility: hidden;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 500ms;
    z-index: 3;
}
.show-more__button {
    width: 137px;
    height: 32px;
    border-radius: 20px;
    border: 2px solid white;
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    margin: 20px 0;
}
.show-more__row {
    width: 137px;
}
.show-more__text {
    margin-right: 15px;
}
.show-more__icon {
    color: white;
}
.show-more__icon_size_s {
    font-size: 12px;
    margin-left: 15px;
}
.show-more__icon_size_m {
    font-size: 16px;
}
.show-more__icon_size_l {
    font-size: 20px;
}

       /*REVIEW*/
.review {
    width: 455px;
    height: 270px;
    border-radius: 5px;
    background-color: white;
    text-decoration: none;
    font-family: gotham-medium;
    position: relative;
}
.review__row {
    position: absolute;
    top: 93px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%);
    z-index: 2;
}
.review__img_theme_green {
    border-bottom: 3px solid #1baf5d;
}
.review__img_theme_orange {
    border-bottom: 3px solid #f19e1f;
}
.review__img:after {
    content: '';
    position: absolute;
    height: 50px;
    width: 100%;
    left: 0;
    bottom: 150px;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(0,0,0,0.8) 100%);
}
.review__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    border: 3px solid white;
    border-radius: 50%;
    position: absolute;
    bottom: 120px;
    left: 20px;
    z-index: 3;
}
.review__icon_theme_green {
    background-color: #1baf5d;
}
.review__icon_theme_orange {
    background-color: #f19e1f;
}
.review__author {
    position: absolute;
    left: 20px;
    bottom: 40px;
}
.review__author:before {
    content: '';
    height: 15px;
    width: 3px;
    background-color: #f3f1f2;
    position: absolute;
    left: 30px;
    top: -18px;
}
.review__column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 148px;
    margin-left: 100px;

}
.review__text {
    font: 14px 'gotham-book';
    color: #566375;
    text-align: justify;
    margin-bottom: 20px;
}
.review__text:after {
    content: '...read more';
    color: #566375;
    font-family: 'gotham-medium';
    text-decoration: underline;
    position: absolute;
    right: 5px;
    bottom: 5px;
}
.review__name {
    font-size: 16px;
    font-weight: bold;
    color: #566375;
    text-transform: uppercase;
    margin-top: 10px;
}
.review__title {
    font-size: 18px;
    color: white;
    text-transform: uppercase;
}
.review__rating {
    display: flex;
    align-items: center;
    color: white;
    font-size: 12px;
    margin-left: 10px;
}
.review__rating_size_big {
    font-size: 16px;
    margin-top: 20px;
    margin-left: 0;
}
.review__img_theme_green:before {
     content: '';
     opacity: 0;
     visibility: hidden;
     transition: 500ms;
     width: 100%;
     height: 120px;
     background-color: rgba(27,175,93,0.7);
     border-radius: 5px 5px 0 0;
     position: absolute;
     z-index: 2;
 }
.review:hover .review__img_theme_green:before {
    opacity: 1;
    visibility: visible;
}
.review__img_theme_orange:before {
    content: '';
    opacity: 0;
    visibility: hidden;
    transition: 500ms;
    width: 100%;
    height: 120px;
    background-color: rgba(241,158,31,0.7);
    border-radius: 5px 5px 0 0;
    position: absolute;
    z-index: 2;
}
.review:hover .review__img_theme_orange:before {
    opacity: 1;
    visibility: visible;
}
.cards-button {
    font: 14px 'gotham-medium';
    color: #566375;
    text-decoration: underline;
    text-decoration-color: #cccdd3;
    border: none;
    cursor: pointer;
    transition: 500ms;
}

.cards-button:focus {
    outline: none;
}
.cards-button:hover {
    color: #e94e38;;
}
.cards__button {
    margin-bottom: 35px;
}
.cards>.container:last-child {
    border-bottom: 1px solid #e2dee0;
}


    /*OFFER*/
.offer {
    background-color: #f3f1f2;
    height: 685px;
}
.offer__title {
    margin-top: 85px;
    margin-bottom: 10px;
    font: 22px 'gotham-medium';
    color: #566375;
}
.offer__text {
    font: 16px 'gotham-book';
    color: #96a6a7;
    margin-bottom: 70px;
}
.categories__button {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #9dacad;
    cursor: pointer;
    transition: 500ms;
}
.categories__button_margin {
    margin-left: 60px;
    position: relative;
}
.categories__button_margin:before {
    content: '';
    width: 50px;
    height: 2px;
    background-color: #e2dee0;
    position: absolute;
    left: -57px;
    top: 50px;
}
.categories__button:focus {
    outline: none;
}

     /*REALITY*/
.reality__title {
    font: 24px 'gotham-medium';
    color: #1baf5d;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 45px;
}
.reality__icon {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background-color: #1baf5d;
    position: relative;
}
.icon {
    color: white;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.reality__icon_margin {
    margin-left: 34px;
}
.reality__text {
    width: 260px;
    font: 14px 'gotham-book';
    line-height: 24px;
    color: #566375;
    text-align: left;
    margin-left: 34px;
}
.categories__button_theme_green:hover {
    border-color: #1baf5d;
    background-color: white;
}
.categories__button_theme_blue:hover {
    border-color: steelblue;
    background-color: white;
}
.categories__button_theme_red:hover {
    border-color: indianred;
    background-color: white;
}
.categories__button_theme_orange:hover {
    border-color: #f19e1f;
    background-color: white;
}
.categories__button_theme_violet:hover {
    border-color: #88499c;
    background-color: white;
}

      /*FOOTER*/
.form__icon {
    color: white;
    font-size: 22px;
    position: absolute;
    left: 35px;
    top: 62px;
}
.footer {
    background-image: url("../img/footer.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.footer:before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    left: 0;
    bottom: 0;
}
.footer__title {
    font: 24px 'gotham-medium';
    color: white;
    align-items: center;
    margin-top: 55px;
    position: relative;
    z-index: 1;
}
.footer>.container>.wrapper {
    border-top: 1px solid #e2dee0;
}
.footer__list {
    margin-right: 225px;
    margin-bottom: 60px;
    margin-top: 40px;
    position: relative;
    z-index: 1;
}
.footer__link {
    text-decoration: none;
    color: #c0bebc;
    transition: 500ms;
}
.footer__item {
    font: 14px 'gotham-book';
    color: white;
    line-height: 22px;
}
.footer__item_margin {
    margin-right: 20px;
}
.footer__text {
    text-decoration: underline;
    text-decoration-color: #c0bebc;
    color: white;
    font: 14px 'gotham-book';
    margin-bottom: 25px;
}
.footer__list:last-child {
    margin-right: 100px;
}
.footer__item_margin:last-child {
    margin-right: 0;
}
.footer__icon {
    font-size: 30px;
    color: white;
    transition: 500ms;
}
.footer__copyright {
    font: 14px 'gotham-book';
    color: white;
    margin-top: 65px;
}
.footer__link:hover {
    color: white;
}
.footer__icon:hover {
    color: #c0bebc;
}

