* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'roboto-regular';
  src: url('../fonts/roboto-regular.woff2') format('woff2'),
  url('../fonts/roboto-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

@import "login";
@import "todo";
@import "button";
@import "input";
@import "task";
@import "modal-delete";
@import "modal-edit";