.about {
  background-color :$aboutBgColor;
  position: relative;
  &__img {
    width: 510px;
    position: relative;
    & img {
      display: block;
      position: absolute;
      right: 100px;
    }
  }
  &__box {
    max-width: 680px;
  }
  &__article {
    max-width: 680px;
    margin-top: 95px;
  }
  &__items {
    margin-top: 65px;
    margin-bottom: 24px;
    @include flex(space-between, stretch, wrap);
  }
  &__item {
    width: 48%;
    padding-bottom: 50px;
    @include flex();
  }
  &__icon {
    flex-shrink: 0;
    width: 41px;
    margin-right: 25px;
  }
  &__mobile {
    display: none;
  }
}

@media (max-width: 1600px) {
  .about__img img{
    max-width: 38vw;
    right: 6vw;
  }
}

@media (max-width: 1200px) {
  .about {
    &__img img{
      right: 3vw;
    }
    &__article {
      margin-top: 40px;
    }
    &__items {
      margin-top: 40px;
      margin-bottom: 0;
    }
    .about__item {
      padding-bottom: 35px;
    }
  }
}

@media (max-width: 992px){
  .about {
    &__img {
      width: auto;
      position: static;
      & img {
        max-width: 400px;
        width: 100%;
        position: static;
      }
    }
    &__box {
      max-width: 100%;
    }
    &__article {
      max-width: 100%;
    }
  }
}

@media (max-width: 768px) {
  .about {
    &__article {
      margin-top: 30px;
    }
    &__items {
      margin-top: 30px;
    }
    &__icon {
      display: none;
      margin-right: 15px;
      flex-shrink: 0;
      width: 41px;
    }
    &__mobile {
      display: block;
      flex-shrink: 0;
      width: 32px;
      margin-right: 15px;
    }
  }
}

@media (max-width: 576px) {
  .about {
    &__items {
      @include flex-column();
    }
    &__item {
      width: 100%;
      padding-bottom: 25px;
    }
  }
}
