.button {
  font: 18px 'roboto-bold';
  text-transform: uppercase;
  color: white;
  border: 2px solid white;
  padding: 20px 40px;
  background-color: transparent;
  cursor: pointer;
  transition: 500ms;
  &:active {
    outline: none;
  }
  &:focus {
    outline: none;
  }
}

@media (max-width: 992px) {
  .button {
    font-size: 16px;
    padding: 10px 20px;
  }
}

@media (max-width: 576px) {
  .button {
    font-size: 14px;
    //padding: 10px 20px;
  }
}