.button {
  font: 18px 'roboto-bold';
  text-transform: uppercase;
  color: white;
  border: 2px solid white;
  padding: 20px 40px;
  background-color: transparent;
  cursor: pointer;
  transition: 500ms;
  &:active {
    outline: none;
  }
  &:focus {
    outline: none;
  }
}