.resume-download {
  background-color: $aboutBgColor;
  position: relative;
  &:after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 30px 0 30px;
    border-color: $aboutBgColor transparent transparent transparent;
    position: absolute;
    bottom: -20px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%);
  }
  &__title {
    padding-top: 95px;
    font: 30px 'roboto-bold';
    color: $fontTitle;
    text-transform: uppercase;
  }
  &__text {
    margin: 35px 45px 0;
    font: 18px 'roboto-regular';
    color: $fontText;
    line-height: 30px;
    text-align: center;
  }
  &__button {
    margin-top: 45px;
    margin-bottom: 100px;
    color: $green;
    border: 2px solid $green;
    padding: 20px;
    &:hover {
      background-color: $green;
      color: white;
    }
  }
}

@media (max-width: 992px) {
  .resume-download {
    &__title {
      padding-top: 40px;
      font-size: 20px;
    }
    &__text {
      margin: 15px 50px 0;
      font-size: 16px;
      line-height: 25px;
    }
    &__button {
      margin-top: 20px;
      margin-bottom: 40px;
      padding: 10px;
    }
  }
}

@media (max-width: 768px) {
  .resume-download {
    &:after {
      bottom: -10px;
      border-width: 15px 25px 0 25px;
    }
    &__title {
      font-size: 18px;
    }
    &__text {
      font-size: 14px;
      line-height: 22px;
    }
  }
}