* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: 'roboto-bold';
  src: url('../fonts/roboto-bold.woff2') format('woff2'),
  url('../fonts/roboto-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'roboto-regular';
  src: url('../fonts/roboto-regular.woff2') format('woff2'),
  url('../fonts/roboto-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@import "colors";
@import "text";
@import "title-h2";
@import "title-h3";
@import "mixin";
@import "hero";
@import "button";
@import "menu";
@import "home";
@import "about";
@import "hamburger";
@import "skills";
@import "resume-download";
@import "resume";
@import "resume-card";

.container {
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;

  @media (max-width: 1200px) {
    max-width: 1140px;
    padding: 0 15px;
  }
  @media (max-width: 992px) {
    max-width: 960px;
    padding: 0 15px;
  }
  @media (max-width: 768px) {
    max-width: 720px;
    padding: 0 15px;
  }
  @media (max-width: 576px) {
    max-width: 540px;
    padding: 0 15px;
  }
}

.logo__img {
  display: block;
}

.header {
  background-color: $headerBgColor;
}
.header>.container {
  @include flex(space-between, center, wrap);
}
@media (max-width: 768px) {
  .header>.container {
    height: 55px;
  }
}
.home>.container {
  @include flex(space-between, flex-start);
}
@media (max-width: 576px) {
  .home>.container {
    @include flex-column();
  }
}
.about>.container {
  @include flex();
}
@media (max-width: 1200px) {
  .about>.container {
    @include flex-column(column, center);
  }
}
.skills>.container {
  @include flex(space-between);
}
@media (max-width: 576px) {
  .skills>.container {
    @include flex-column();
  }
}
.resume-download>.container {
   @include flex(center);
 }





