.resume-card {
  padding-bottom: 75px;
  &__text {
    padding-top: 30px;
    border-top: 1px solid #ccc;
    font: 18px 'roboto-regular';
    color: $fontText;
    line-height: 30px;
    text-align: justify;
    &:first-of-type {
      margin-top: 15px;
      padding: 0;
      border-top: none;
    }
    & span {
      font-weight: 600;
    }
  }
  &__label {
    width: 70px;
    padding: 7px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 30px;
    font: 14px 'roboto-bold';
    background-color: $green;
    color: white;
  }
}

@media (max-width: 1200px) {
  .resume-card {
    padding-bottom: 60px;
    &__text {
      padding-top: 20px;
    }
  }
}
@media (max-width: 992px) {
  .resume-card {
    &__text {
      font-size: 16px;
      line-height: 27px;
    }
  }
}
@media (max-width: 768px) {
  .resume-card {
    padding-bottom: 40px;
    &__text {
      font-size: 14px;
      line-height: 22px;
    }
    &__label {
      margin-bottom: 20px;
    }
  }
}