.title-h2 {
  font: 30px 'roboto-bold';
  color: $fontTitle;
  text-transform: uppercase;
  &_white {
    color: white;
  }
}

@media (max-width: 992px) {
  .title-h2 {
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  .title-h2 {
    font-size: 20px;
  }
}